
<!DOCTYPE html >

<html>

<head>
 <title>Hospital</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>
	

<header>


  <nav>

    <h1><a href="">Hospitals</a></h1>

    <aside class="menu_blk" style="z-index:1000000;">


      <ul class="menu">
        

<li class="tab_inactive" id="tab11" onmouseover="change_menu(&#39;p11&#39;);" onmouseout="test_mouse(&#39;p11&#39;);"><a href="#" title="About Us">HOME</a>
          <aside class="inner_menu" id="block11" style="display: none;">
            <aside class="arrow arrow_1"></aside>
            <aside class="inner_menu_middle" style="width:735px;">
              <aside class="inner_menu_1">
              
                <dl style="padding:9px 0 0;">
                  <a href="#" title="Company Overview">Company<br> Overview</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:9px 0 0;">
                  <a href="http://www.apollohospitals.com/chairmans_profile.php" title="Our Chairman&#39;s Profile">Our Chairman's<br> Profile</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/about_management.php" title="Management">Management</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:9px 0 0;">
                  <a href="http://www.apollohospitals.com/about_apollo.php" title="The Apollo Growth Story">The Apollo<br> Growth Story</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/about_accredition.php" title="Quality">Quality</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/about_anthem.php" title="Anthem">Anthem</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/about_medical.php" title="Milestones">Milestones</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl>
                  <a href="http://www.apollohospitals.com/about_award.php" title="Awards &amp; Accolades">Awards <br> &amp; <br> Accolades</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl>
                  <a href="http://www.apollohospitals.com/about_across.php" title="Across the healthcare spectrum">Across <br>the healthcare<br> spectrum</a>
                </dl>
              </aside>
            </aside>
          </aside>
        </li>



        <li class="divider">Apollo</li>
        <li class="tab_inactive" id="tab12" onmouseover="change_menu(&#39;p12&#39;);" onmouseout="test_mouse(&#39;p12&#39;);"><a href="http://www.apollohospitals.com/investor_relations.php" title="Investor Relations">SERVICES</a>
          <aside class="inner_menu" id="block12" style="display: none;">
            <aside class="arrow arrow_2"></aside>
            <aside class="inner_menu_middle" style="width:720px;">
              <aside class="inner_menu_1">
								<dl style="padding:15px 0 0;">
                  <a href="http://www.apollohospitals.com/apollo_pdf/AHEL_Q3_FY13_Earnings_Update.pdf" target="_new" title="Q2 FY13 Earnings Update">Q3 FY13<br> Earnings Update</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:15px 0 0;">
                  <a href="http://www.apollohospitals.com/apollo_pdf/Q3FY13_Results_Release.pdf" target="_new" title="Q2 FY13 Results Release">Q3 FY13<br> Results Release</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:15px 0 0;">
                  <a href="http://www.apollohospitals.com/apollo_pdf/Apollo_Investor_Presentation_August_2012.pdf" target="_new" title="Investor Presentation August 2012">Investor Presentation<br> August 2012</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:15px 0 0;">
                  <a href="http://www.apollohospitals.com/apollo_pdf/Apollo_Hospitals_Enterprise_Ltd.pdf" title="Independent Equity Research Report" target="_blank">Independent Equity<br> Research Report</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:15px 0 0;">
                  <a href="http://www.apollohospitals.com/investor_relations.php" title="Financial Reports">Financial <br>Reports</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:15px 0 0;">
                  <a href="http://www.apollohospitals.com/investor_share.php" title="Shareholding Pattern">Shareholding <br>Pattern</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:15px 0 0;">
                  <a href="http://www.apollohospitals.com/investor_annual.php" title="Annual Reports">Annual <br>Reports</a>
                </dl>
              </aside>
            </aside>
          </aside>
        </li>



        <li class="divider">Apollo</li>
        <li class="tab_inactive" id="tab13" onmouseover="change_menu(&#39;p13&#39;);" onmouseout="test_mouse(&#39;p13&#39;);"><a href="http://www.apollohospitals.com/education_cme.php" title="Education &amp; Research">DOCTORS</a>
          <aside class="inner_menu" id="block13" style="display: none; margin: 0px 0px 0px 10px;">
            <aside class="arrow arrow_3"></aside>
            <aside class="clear"></aside>
            <aside class="inner_menu_middle" style="width:367px;">
              <aside class="inner_menu_1">
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/education_courses.php" title="Courses">Courses</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/education_cme.php" title="Web Broadcasts">Web Broadcasts</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/education_cme.php" title="Research">Research</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/lets_talk_health.php" title="Let&#39;s Talk Health">Let's Talk Health</a>
                </dl>
              </aside>
            </aside>
          </aside>
        </li>



        <li class="divider">Apollo</li>
        <li class="tab_inactive" id="tab14" onmouseover="change_menu(&#39;p14&#39;);" onmouseout="test_mouse(&#39;p14&#39;);"><a href="http://www.apollohospitals.com/initiatives_sach.php" title="Initiatives">PARTNERS</a>
          <aside class="inner_menu" id="block14" style="display: none;">
            <aside class="arrow arrow_4"></aside>
            <aside class="inner_menu_middle" style="width:645px;">
              <aside class="inner_menu_1">
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_tele.php" title="Telemedicine">Telemedicine</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_disha.php" title="DISHA">DISHA</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_sahi.php" title="SAHI">SAHI</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_cure.php" title="Cure">Cure</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:10px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_drp.php" title="Disaster Relief Programmes">Disaster Relief<br> Programmes</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_sach.php" title="SACHi">SACHi</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:10px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_bhb_campaign.php" title="BHB Campaign">BHB <br>Campaign</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_reach.php" title="REACH">REACH</a>
                </dl>
                <dl class="div">Apollo</dl>
                <dl style="padding:18px 0 0;">
                  <a href="http://www.apollohospitals.com/initiatives_csr.php" title="CSR at Apollo">CSR at Apollo</a>
                </dl>
              </aside>
            </aside>
            <aside class="clear"></aside>
          </aside>
        </li>


        
        <li class="divider">Apollo</li>
        <li><a href="http://www.apollohospitals.com/contactus.php" title="Contact Us">CONTACT US</a></li>
      </ul>
    </aside>
    <p></p>
  </nav>

</header>


	<section>
		<article>
			<div id="imageSlideshowHolder">
			     
                                 <%= yield %>
                                <div class="banner">
			        </div>
			</div>
		</article>
	</section>
	

<footer>

 <div class="body4">
	<div class="main">
		<div id="footer_menu">
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="Researches.html">Researches</a></li>
					<li><a href="Services.html">Services</a></li>
					<li><a href="Events.html">Events</a></li>
					<li class="bg_none"><a href="Contacts.html">Contacts</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
    <footer >
      <article class="group">
       
        <aside class="copy">
          <p>© 2012 Apollo Hospitals Enterprise Ltd.  All Rights Reserved | <a href="http://www.apollohospitals.com/disclaimer.php" style="font-size:11px;">Disclaimer</a> | <a href="http://www.apollohospitals.com/sitemap.php" style="font-size:11px;">Sitemap</a></p>
        </aside>
        
        
      </article>
    </footer>

</footer>

	<div class="footer">
		<div id="footer" style="z-index:100;">
			<ul>
				<li class="help"><a href="#"><img src="/assets/help.png" alt=""></a></li>
                <li class="inter_help"><a href="#"><img src="/assets/Helpline-Strip.png" alt=""></a></li>
				<li class="request"><a href="#"><img src="/assets/request.png" alt=""></a></li>
				<li class="pipe"><a href="#"><img src="/assets/line.png" alt=""></a></li>
				<li class="twit"><a href="#"><img src="/assets/twitter.png" alt=""></a></li>
				<li class="face"><a href="#"><img src="/assets/facebook.png" alt=""></a></li>
				<li class="tube"><a href="#"><img src="/assets/you.png" alt=""></a></li>
				<li class="in"><a href="#"><img src="/assets/in.png" alt=""></a></li>
				<li class="groub"><a href="#"><img src="/assets/group.png" alt=""></a></li>
			</ul>
		</div>
		<a id="footer_trigger" class="trigger_active" href="Javascript:void(0);"></a>
	</div>

<script language="javascript" type="text/javascript">
	function toggle(show,hide) {
		if(!hide) {
			var el=document.getElementById(show);
			if (el.style.display != "none") {
				el.style.display ='none';
				document.getElementById('more_link').className ='morelink1';
			}
			else {
				el.style.display = "";
				document.getElementById('more_link').className ='morelink2';
			}
		}
		else {
			document.getElementById(hide).style.display="none";
			document.getElementById(show).style.display="block";
		}
	}
</script>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-12617465-1']);
	_gaq.push(['_trackPageview']);
	
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>	
	<!-- Google Code for Remarketing tag -->
	<script type="text/javascript">	
		/* <![CDATA[ */
		var google_conversion_id = 994428246;
		var google_conversion_label = "wUKQCOrgugQQ1oqX2gM";
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
	</script>
	<script type="text/javascript" src="./Apollo Hospitals   Hospital   Hospitals for Knee, Hip Replacement, Heart Surgery   Best Hospitals in India_files/conversion.js">
	</script><iframe name="google_conversion_frame" width="300" height="13" src="./Apollo Hospitals   Hospital   Hospitals for Knee, Hip Replacement, Heart Surgery   Best Hospitals in India_files/saved_resource.html" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no">&lt;img height="1" width="1" border="0" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/994428246/?frame=0&amp;random=1365231564989&amp;cv=7&amp;fst=1365231564989&amp;num=1&amp;fmt=1&amp;label=wUKQCOrgugQQ1oqX2gM&amp;guid=ON&amp;u_h=768&amp;u_w=1366&amp;u_ah=744&amp;u_aw=1301&amp;u_cd=24&amp;u_his=5&amp;u_tz=330&amp;u_java=true&amp;u_nplug=14&amp;u_nmime=53&amp;url=http%3A//www.apollohospitals.com/&amp;frm=0" /&gt;</iframe>
	<noscript>
		&lt;div style="display:inline;"&gt;
			&lt;img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/994428246/?value=0&amp;amp;label=wUKQCOrgugQQ1oqX2gM&amp;amp;guid=ON&amp;amp;script=0"/&gt;
		&lt;/div&gt;
	</noscript>

<div id="window-resizer-tooltip"><a href="http://www.apollohospitals.com/#" title="Edit settings" style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth"></span> x <span class="tooltipHeight" id="winHeight"></span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth"></span> x <span class="tooltipHeight" id="vpHeight"></span></div>


</body></html>




















